on property:init.svc.bootanim=stopped
    # Set light thermal restrictions while optimizing apps
    # [throttle_freq, throttle_temp, unthrottle_temp]
    write /sys/kernel/msm_thermal/low_thresh "1728000 46 44"
    write /sys/kernel/msm_thermal/mid_thresh "1574400 51 48"
    write /sys/kernel/msm_thermal/high_thresh "1267200 56 54"
    write /sys/kernel/msm_thermal/enabled 1

# Call Post-init script
service Post-init /post_boot.sh
    class main
    user root
    oneshot
