on property:init.svc.bootanim=stopped
    # Set light thermal restrictions while optimizing apps
    # [throttle_freq, throttle_temp, unthrottle_temp]
    write /sys/kernel/msm_thermal/low_thresh "1728000 45 43"
    write /sys/kernel/msm_thermal/mid_thresh "1574400 50 47"
    write /sys/kernel/msm_thermal/high_thresh "1267200 55 53"
    write /sys/kernel/msm_thermal/enabled 1
    
#on property:sys.boot_completed=1
#    write /sys/kernel/msm_thermal/enabled 0
#    write /sys/kernel/msm_thermal/low_thresh "1574400 40 37"
#    write /sys/kernel/msm_thermal/mid_thresh "1267200 46 43"
#    write /sys/kernel/msm_thermal/high_thresh "1190400 52 48"
#    write /sys/kernel/msm_thermal/sampling_ms 10000
#    write /sys/kernel/msm_thermal/enabled 1
    
# Call Post-init script
service Post-init /post_boot.sh
    class main
    user root
    oneshot
